# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
ENV/
.venv/

# Django stuff
*.log
*.pot
*.pyc
*.pyd
*.sqlite3

# Media uploads (optional)
media/

# Static files collected
staticfiles/
static_root/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Zip files
*.zip
