{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">

    <h3 class="text-success mb-3">All Customers</h3>
    <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary mb-3">← Back</a>

    <div class="table-responsive">
        <table class="table table-bordered table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Profile Image</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                </tr>
            </thead>

            <tbody>
                {% for c in customers %}
                <tr>
                    <td>{{ c.id }}</td>
                    <td>
                        {% if c.profile_image %}
                        <img src="{{ c.profile_image.url }}" width="60" height="60" class="rounded-circle">
                        {% else %}
                        <span class="text-muted">No Image</span>
                        {% endif %}
                    </td>
                    <td>{{ c.full_name }}</td>
                    <td>{{ c.user.email }}</td>
                    <td>{{ c.contact_number }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
